/* 
Theme Name: Thephenixgroup Child
Theme URI: https://github.com/elementor/hello-theme-child/
Description: Hello Elementor Child is a child theme of Hello Elementor, created by Elementor team
Author: Mufaqar
Author URI: https://mufaqar.com/
Template: hello-elementor
Version: 1.0.3
Text Domain: hello-elementor-child
License: GNU General Public License v3 or later.
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Tags: flexible-header, custom-colors, custom-menu, custom-logo, editor-style, featured-images, rtl-language-support, threaded-comments, translation-ready
*/

/* Add your custom styles here */

main#content {
  max-width: 1300px;
  margin: 0px auto;
}

.fGmyhD {
  color: rgb(255, 255, 255);
  font-size: 16px;
  background: rgb(164, 22, 26);
  font-weight: 600;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  letter-spacing: 0;
  padding: 10px 20px;
  text-align: center;
  transition: all 0.2s ease-in-out 0s;
  margin-left: 10px;
  text-decoration: none;
  text-transform: capitalize;
}

a.freeAnalysis__FreeButton-sc-4jhjgm-0.cNcMyS:hover {
  text-decoration: none !important;
  background: #fff;
  color: #000;
}

h1.entry-title {
  font-weight: 900;
  font-size: 44px;
  color: rgb(164, 22, 26);
  text-align: center;
}

main#site-content {
  max-width: 1300px;
  margin: 0px auto;
}

.page-header {
  padding: 60px 15px 0 15px;
  max-width: 1000px;
  margin: 0 auto;
}
.page-content p,
.elementor-widget-theme-post-content p {
  width: 100% !important;
  max-width: 100% !important;
  font-size: 16px;
  color: #474a57;
  padding-top: 10px;
  font-family: Mulish, sans-serif;
  margin-bottom: 5px;
}
.fGmyhD:hover {
  background: #fff;
  color: #000;
}
.cNcMyS {
  color: #a4161a;
  font-size: 16px;
  background: #f1dcdd;
  font-weight: bold !important;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  padding: 10px 20px;
  text-align: center;
  transition: all 0.2s ease-in-out 0s;
  margin-left: 10px;
  text-decoration: none !important;
}
.is-layout-flow.wp-block-column p {
  text-align: justify;
  font-size: 16px;
  color: #474a57;
  margin: 10px 50px 0 0;
}
h3,
.elementor-widget-theme-post-content h3 {
  font-size: 22px;
  color: #474a57;
  font-weight: 900;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  font-family: Mulish, sans-serif;
}
.page-content ul,
.elementor-widget-theme-post-content ul {
  margin-left: 0px !important;
  margin-top: 20px;
  text-align: left;
}
.page-content li,
.elementor-widget-theme-post-content li {
  font-size: 16px;
  line-height: 1.476;
}
pre.wp-block-code:not(.alignwide):not(.alignfull):not(.alignleft):not(
    .alignright
  ):not(.is-style-wide) {
  max-width: 580px;
  margin-top: 4rem !important;
  margin: 0 auto;
  width: calc(100% - 4rem);
  border-color: #dcd7ca;
  border-width: 1px;
  border-style: solid;
  padding: 1.5rem;
  border-radius: 4px;
}
div#right-column {
  padding-top: 50px;
}
.page-content h2,
.elementor-widget-theme-post-content h2 {
  width: 100% !important;
  max-width: 100% !important;
  font-size: 28px;
  color: #a4161a;
  font-weight: 800;
  font-style: normal;
  line-height: 33px;
  margin: 10px 0;
}
.is-layout-flow.wp-block-column p.has-text-align-center {
  text-align: center;
}
input {
  max-width: 100% !important;
}
button#wpforms-submit-3695 {
  background-color: #a4161a !important;
  color: white !important;
  border-radius: 6px !important;
  font-weight: 600;
  font-size: 16px !important;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  transition: all 0.2s ease-in-out 0s;
  margin-left: 10px;
  text-decoration: none;
}
button#wpforms-submit-3695:hover {
  background: #f1dcdd !important;
  color: #a4161a !important;
}
img.wp-image-169 {
  margin: 0 auto !important;
}
.wp-lightbox-container {
  overflow: hidden;
}
.rev-testi {
  background: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 0px !important;
}
.rev-testi figure {
  margin: 0px !important;
}
.rev-testi figure img {
  max-height: 207px;
  object-fit: cover;
  width: 100%;
}
.lnzHHa {
  padding: 30px;
  min-height: 275px;
}
.eoChpR {
  font-size: 20px;
  color: #000;
  font-weight: 900;
  margin: 0px !important;
}
.page-content h2.invVNg {
  font-size: 16px !important;
  color: #a4161a;
  font-weight: 800 !important;
  margin: 0 !important;
}
.kfzrBt {
  font-size: 14px;
  color: #474a57;
  margin-left: 20px;
}
.iQKPpo {
  padding: 30px 5px;
}
.gypkjn {
  padding-top: 0px !important;
}
.kZmsyz {
  color: #a4161a !important;
  font-size: 28px !important;
  font-weight: 700 !important;
}
.bVeROU {
  font-weight: 700;
  padding: 10px !important;
  margin: 0px !important;
}
.cHCyov {
  color: #a4161a;
  padding-right: 1px;
  width: 50px;
  height: 50px;
}
.fxEMrR {
  color: #a4161a;
  font-size: 16px;
  font-weight: 800;
  padding: 10px;
}
div.wpforms-container-full .wpforms-form button[type="submit"] {
  background-color: #eee !important;
  border: 1px solid #ddd;
  color: #333 !important;
  font-size: 1em !important;
  font-family: inherit;
  padding: 10px 15px !important;
  font-weight: 800;
  border-radius: 0 !important;
}
div.wpforms-container-full .wpforms-form button[type="submit"]:hover {
  background-color: #ddd !important;
  border: 1px solid #ccc !important;
  cursor: pointer !important;
}
iframe.gmaps {
  width: 100% !important;
  max-width: 100% !important;
  height: 500px !important;
  margin-top: 50px;
}
.ss-row-one {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding-left: 20px;
}
:root .has-accent-color {
  color: #cd2653;
}
.page-content .has-larger-font-size {
  font-size: 27px;
  line-height: 1.3;
}
.ikAlVH a {
  font-weight: 900;
  font-size: 16px;
  color: #474a57;
  background: #fff;
  border-radius: 5px;
  text-align: center !important;
  padding: 20px;
  text-decoration: none;
}
@media (min-width: 700px) {
  .wp-block-image:not(.alignwide):not(.alignfull):not(.alignleft):not(
      .alignright
    ):not(.aligncenter),
  .wp-block-video:not(.alignwide):not(.alignfull) {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  :where(.wp-block-columns) {
    margin-bottom: 0;
  }
  pre.wp-block-code:not(.alignwide):not(.alignfull):not(.alignleft):not(
      .alignright
    ):not(.is-style-wide) {
  }
  .page-content h2 {
    margin: 3.5rem 0 2rem !important;
  }
  .results-right-col {
    padding-top: 150px;
  }
  h2.lgyyrC33,
  h2.chqaJr {
    margin: 0 !important;
  }
  .eqOPXD {
    font-size: 16px;
    color: #474a57;
    margin-left: 20px;
  }
  #stuifw01 {
    max-width: 45%;
    margin: 0 auto;
    text-align: center;
    display: flex;
  }
  .img-three {
    margin-top: 75px !important;
  }
  h2.iLZLCB {
    margin-top: 0px !important;
  }
  .page-content .has-larger-font-size {
    font-size: 31px;
    line-height: 1.3;
  }
}

.wp-block-list {
  margin-bottom: 20px;
}
.page-content {
  text-align: center;
  margin-top: 40px;
}
.ikAlVH {
  width: 100%;
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin: 0 auto;
  justify-content: center;
}

/* Tablet */
@media (max-width: 1024px) {
  .ikAlVH {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Large Mobile */
@media (max-width: 768px) {
  .ikAlVH {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .ikAlVH {
    grid-template-columns: repeat(1, 1fr);
  }
}
